* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 20px;
    background-color: var(--primary-color);
    position: fixed;
    width: 80%;
    top: 30px;
    left: 10%;
    border-radius: 15px;
    z-index: 1000;
}

.header .logo {
    font-size: 18px;
    font-weight: bold;
    color: var(--background-color);
    font-family: "Roboto Mono", monospace;
}

.header .nav {
    display: flex;
    gap: 100px;
}

.nav a {
    text-decoration: none;
    color: var(--background-color);
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: var(--hover-color);
}