@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --background-color: #FFF8F0;
    --primary-color: #7C2D12;
    --hover-color: #faedcd;
    --secondary-color: #1E293B;
    --accent-color: #0F766E;
}